@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

body {
    @apply bg-[#161616] text-white;
}

@import "tailwindcss";

#nprogress .bar {
  background: #00cc73 !important;
  height: 3px !important;
}

#nprogress .peg {
  display: none !important;
}

.text-primary-color {
    @apply text-[#00cc73];
}

.text-error {
    @apply text-[#d31130];
}

.border-primary-color {
    @apply border-[#00cc73];
}

.button-primary {
    @apply bg-[#00cc73] rounded-full text-black font-medium py-3;
}

.secondary-bg {
    @apply bg-[#1c1c1c];
}

.input-primary {
    @apply py-3 w-full rounded-md text-white placeholder-white/50 border border-white/50
            focus:outline-none focus:border-transparent focus:ring-1;
}

.input-error {
    @apply py-3 w-full rounded-md text-[#d31130] placeholder-[#d31130] border border-[#d31130]
            focus:outline-none focus:border-transparent;
}

